<div class="content-box mat-override">
  <div class="grid" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
    <div fxFlex="50%" class="map-column">
      <!-- Model info open popup button -->
      <we-vs-virus-model-config-launcher></we-vs-virus-model-config-launcher>
      <h1>
        {{ title }}
      </h1>
      <we-vs-virus-map></we-vs-virus-map>
    </div>

    <div fxFlex="50%" class="chart-column">
      <div class="card-wrapper">
        <we-vs-virus-chart-line-predicted-cases></we-vs-virus-chart-line-predicted-cases>
      </div>
      <div class="card-wrapper">
        <we-vs-virus-chart-bar-active-cases></we-vs-virus-chart-bar-active-cases>
      </div>

      <div class="card-wrapper model-description">
        <mat-card class="mat-elevation-z">
          <mat-card-title>Was sehe ich hier?</mat-card-title>
          <mat-card-content>
            <div class="richtext">
              <p>
                Das Dashboard zeigt Dir unsere Modellierung der Covid-19-Pandemie und ihrer Dunkelziffer in Deutschland.
                Es ergänzt die gemeldeten Fälle (<em>hell</em>) um berechnete <strong>ungemeldete</strong> Infektionen und die
                daraus resultierenden <strong>Gesamtinfektionen</strong>  (<em>dunkel</em>).
                Um das aktuelle Infektionsrisiko einschätzbar zu machen, zeigt die Karte die derzeit aktiven Infektionen. Der Verlauf dieser 
                lässt sich dem Schaubild "Aktive Infektionen" entnehmen. Für eine Näherung der <em>Durchseuchung</em> stellt 
                Schaubild "Alle Infektionen" die wachsende Gesamtzahl an Infektionen dar.
              </p>
              <p>
                Unsere Modelle entstammen epidemiologischen Veröffentlichungen - unsere <a
                  href="https://covid19.dunkelzifferradar.de/sources">Daten</a> dem RKI und dem Statistischen Bundesamt. Finde
                mehr heraus über das derzeit verwendete SIRU-Modell in unserem <a
                  href="https://covid19.dunkelzifferradar.de/blog">Blog</a>.
              </p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="card-wrapper infobox_sunset">
        <mat-card class="mat-elevation-z">
          <mat-card-title>Warum sieht die Seite anders aus? Funktioniert sie noch?</mat-card-title>
          <mat-card-content>
            <div class="richtext">
              <p>
                Unser Dashboard wird weiterhin betrieben und wird weiterhin tagesaktuelle Prognosen das epidemiologischen Modells anzeigen. Um Kosten zu sparen, wurde auf den
                zuvor verwendeten Website-Builder verzichtet, dadurch sind Seiten wie der Blog und "Über uns" nicht mehr verfügbar.
              </p>
              <p>
                <b>Impressum: Angaben gemäß § 5 TMG</b><br>
                DunkelzifferRadar e.V.<br>
                Vereinsregister: AG Stuttgart, Nr. 724700<br>
                Danneckerstr. 7<br>
                c/o Christian Paul<br>
                70182 Stuttgart<br>

                <b>Vertreten durch:</b><br>
                Vorsitzender: Christian Paul, Stuttgart<br>
                Stellvertretende Vorsitzende: Christoph Schaller, Filderstadt; Katharina Hämmerl, München; Michael Cherner, Kirchheim bei München
                <br>
                <b>Kontakt:</b> <br>
                <img src="assets/contact.PNG" height=50px>
              </p>
              <p>
                <b>Haftung für Inhalte</b>
                Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.

                Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.

                <br><b>Haftung für Links</b>
                Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.

                Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.

                <br><b>Urheberrecht</b>
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.

                Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                <br>
                Quelle: eRecht24
              </p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
</div>
