@import '../custom-theme-palettes.scss';

// Create a config with the default typography levels.
$config: mat-typography-config();

$padding: 1rem;
$padding-md: 2.5rem;

:host {
  // app-wide styles
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: mat-color($frontend-primary);
  background-image: linear-gradient(0, #000000 0%, #251502 35%, #131537 100%);
  color: mat-color($frontend-primary, default-contrast);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  // component styles
  display: block;
  padding: $padding;

  @media screen and (min-width: 600px) {
    padding: $padding-md;
  }
}

.content-box {
  background-color: rgba(255, 255, 255, 0.075);
}

.grid {
  min-height: calc(100vh - #{2 * $padding});

  padding: $padding;

  @media screen and (min-width: 600px) {
    padding: $padding-md;
    min-height: calc(100vh - #{2 * $padding-md});
  }
}

.map-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    margin-bottom: 0.5em;
    font-weight: 300;
    font-size: mat-font-size($config, display-1);

    @media screen and (min-width: 960px) {
      font-size: mat-font-size($config, display-2);
    }
  }
}

we-vs-virus-model-config-launcher {
  float: right;
  align-self: flex-end;
}

we-vs-virus-map {
  display: block;
  width: 100%;
  flex-grow: 1;
  height: 100vh;

  @media screen and (min-width: 960px) {
    height: 70vh;
  }
}

.chart-column {
  display: flex;
  flex-direction: column;
}

.card-wrapper {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media screen and (min-width: 960px) {
    max-height: 40vh;
  }

  & + & {
    margin-top: 20px;
  }
}

.model-description {
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.model-description::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.model-description::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: mat-color($frontend-primary, 0.65);
}

.infobox_sunset {
  overflow-y: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.infobox_sunset::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.infobox_sunset::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: mat-color($frontend-primary, 0.65);
}

// white chart labels
::ng-deep .ngx-charts {
  text {
    fill: #fff !important;
  }

  // lighter gridlines
  line.gridline-path {
    opacity: 50%;
  }
}

// richtext
::ng-deep .richtext {
  p,
  address,
  ul,
  ol {
    line-height: 1.4;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

// custom modal
::ng-deep .custom-dialog-container .mat-dialog-container {
  padding: 0px;
  overflow: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: rgba(55, 71, 79, 0.9);
  box-shadow: none;
  border-radius: 0;
  padding: 20px;
}
