:host {
  display: block;
  height: 100%;
}

.mat-card {
  height: 100%;
  overflow: hidden;
  display: block;
  @media screen and (max-width: 960px) {
    padding-bottom: 60px;
	padding-left: 5px;
	padding-right: 5px;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  
  @media screen and (min-width: 960px) {
    height: 110%;
    display: block;
  }
}

.mat-card-title {
  display: block;
}

.timeframe-toggle {
  font-size: small;
  padding: 5px;

  @media screen and (min-width: 650px) {
    float: right;
  }
}