<mat-card class="mat-elevation-z">
  <mat-card-title>{{ title }}
    <mat-slide-toggle (change)="onToggleTotalTimeframe($event)" class="timeframe-toggle" checked="true">Ganzen Zeitraum anzeigen</mat-slide-toggle>
  </mat-card-title>
  <mat-card-content>
    <ngx-charts-area-chart
      [scheme]="colorScheme"
      [legend]="legend"
      [yScaleMin]="yScaleMin"
      [yScaleMax]="yScaleMax"
      [legendTitle]="legendTitle"
      [legendPosition]="legendPosition()"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [yAxisTicks]="yAxisTicks"
      [timeline]="timeline"
      [results]="chartdata"
    >
    </ngx-charts-area-chart>
  </mat-card-content>
</mat-card>
