<!-- Back button -->
<button
  mat-raised-button
  color="accent"
  aria-label="Back"
  (click)="onClickBackButton()"
  *ngIf="(mapState$ | async).rkiIds.length > 1"
>
  <mat-icon>arrow_upward</mat-icon>
  {{ backBtnTitle }}
</button>

<!-- Map -->
<div
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="layers"
  [leafletFitBounds]="fitBounds"
  (leafletMapReady)="onMapReady($event)"
></div>

<we-vs-virus-map-legend class="legend"></we-vs-virus-map-legend>

<!-- Loader -->
<!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
<div class="loader" *ngIf="!layers.length">
  <svg width="38" height="38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
    <g
      transform="translate(1 1)"
      stroke-width="2"
      fill="none"
      fill-rule="evenodd"
    >
      <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
      <path d="M36 18c0-9.94-8.06-18-18-18">
        <animateTransform
          attributeName="transform"
          type="rotate"
          from="0 18 18"
          to="360 18 18"
          dur="1s"
          repeatCount="indefinite"
        />
      </path>
    </g>
  </svg>
</div>
