@import '../custom-theme-palettes.scss';

// Cases marker
$cases-marker-dark: mat-color($frontend-primary);
$cases-marker-light: #fff;
$cases-marker-angle-size: 5px;

// TODO: ng-deep is deprecated. find an alternative way
:host {
  position: relative;
  @media screen and (max-width: 600px) {
    padding-bottom: 200px;
  }

  ::ng-deep .cases-marker__cases {
    height: 50%;
    text-align: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);

      width: 0;
      height: 0;
      border-style: solid;
      border-width: $cases-marker-angle-size $cases-marker-angle-size 0
        $cases-marker-angle-size;
      border-color: $cases-marker-dark transparent transparent transparent;
    }
  }

  ::ng-deep .cases-marker__cases--reported {
    background: $cases-marker-light;
    color: $cases-marker-dark;
  }

  ::ng-deep .cases-marker__cases--unreported {
    background: $cases-marker-dark;
    color: $cases-marker-light;
  }
}

.leaflet-container {
  background-color: transparent;
  height: 100%;

  ::ng-deep path {
    transition: fill .3s;
  }
}

.mat-raised-button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 410; // > map
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.legend {
  max-width: 15%;
  min-width: 105px;
  position: absolute;
  left: 0;
  z-index: 405;
  display: inline-block;
  vertical-align: top;

  @media screen and (min-width: 600px) {
    top: 7%;
  }

  @media screen and (max-width: 600px) {
    bottom: 7%;
  }
}

::ng-deep .feature-tooltip {
  color: #fff;
  background: $cases-marker-dark;
  border: none;
}
