:host {
  display: block;
}

.ng-star-inserted {
  padding: 0px;
}

.ifr-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.ifr-radio-button {
  margin: 5px;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}