<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <p><b>Infection Fatality Ratio (IFR)</b>:<br> Die erwartete Tödlichkeit einer Ansteckung mit Covid-19. Wissenschaftliche<br>Studien,
    in denen die jeweilige IFR gefunden wurde, sind verlinkt.</p>
  <mat-radio-group class="ifr-radio-group" (change)="onChangeIfr($event)" aria-label="Erwartete Mortalität" [(ngModel)]="data.selectedIfr">
    <mat-radio-button class="ifr-radio-button" value="1">
      0,6 % (<a href="https://www.thelancet.com/journals/laninf/article/PIIS1473-3099(20)30195-X/fulltext" target="_blank">Baud et al.</a>,
      <a href="https://www.thelancet.com/journals/laninf/article/PIIS1473-3099(20)30584-3/fulltext" target="_blank">Perez-Saez et al.</a>,<br>
    <a href="https://www.folkhalsomyndigheten.se/contentassets/53c0dc391be54f5d959ead9131edb771/infection-fatality-rate-covid-19-stockholm-technical-report.pdf" target="_blank">Public Health Agency of Sweden</a>)</mat-radio-button>
    <mat-radio-button class="ifr-radio-button"  value="2">0,36 % (<a href="https://www.uni-bonn.de/neues/111-2020" target="_blank">Streeck et al.</a>)</mat-radio-button>
    <mat-radio-button class="ifr-radio-button"  value="3">0,24 % (<a href="https://www.medrxiv.org/content/10.1101/2020.05.13.20101253v3" target="_blank">Ioannidis et al.</a>)</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="data.selectedIfr">OK</button>
</div>
