.mat-card {
  padding: 5px 5px 5px 5px;
}

.legend-title {
  font-size: small;
}

.legend-labels .color-dot {
  float: left;
  display: block;
  min-width: 15px;
  min-height: 15px;
  margin: 0 10px 0 0;
  border-radius: 3px;
}

.legend-labels .mat-list-item {
  height: 20px;
}

.legend-labels .mat-list-item .label-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: fade;
  font-size: x-small;
}
