<div class="card-wrapper">
  <mat-card class="mat-elevation-z">
    <mat-card-title class="legend-title">{{legendTitle}}</mat-card-title>
    <mat-card-content
      >
      <mat-list dense class="legend-labels" role="list">
        <mat-list-item role="listitem">
          <span class="color-dot" [ngStyle]="{'background-color': getStyle(301)}" title="{{textOver300}}"></span>
          <span class="label-text"> {{textOver300}} </span>
        </mat-list-item>
        <mat-list-item role="listitem"
          ><span class="color-dot" [ngStyle]="{'background-color': getStyle(151)}" title="{{text150300}}"></span>
          <span class="label-text"> {{text150300}} </span>
        </mat-list-item>
        <mat-list-item role="listitem"
          ><span class="color-dot" [ngStyle]="{'background-color': getStyle(51)}" title="{{text50150}}"></span>
          <span class="label-text"> {{text50150}} </span>
        </mat-list-item>
        <mat-list-item role="listitem"
          ><span class="color-dot" [ngStyle]="{'background-color': getStyle(36)}" title="{{text3550}}"></span>
          <span class="label-text"> {{text3550}} </span>
        </mat-list-item>
        <mat-list-item role="listitem"
          ><span class="color-dot" [ngStyle]="{'background-color': getStyle(11)}" title="{{text1035}}"></span>
          <span class="label-text"> {{text1035}} </span>
        </mat-list-item>
        <mat-list-item role="listitem"
          ><span class="color-dot" [ngStyle]="{'background-color': getStyle(9)}" title="{{textUnder10}}"></span>
          <span class="label-text"> {{textUnder10}} </span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
