<mat-card class="mat-elevation-z">
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <ngx-charts-bar-vertical-stacked
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [legendTitle]="legendTitle"
      [legendPosition]="legendPosition()"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [barPadding]="4"
    >
    </ngx-charts-bar-vertical-stacked>
  </mat-card-content>
</mat-card>
