:host {
  display: block;
  height: 100%;
}

.mat-card {
  height: 100%;
  overflow: hidden;
  @media screen and (max-width: 960px) {
    padding-bottom: 60px;
	padding-left: 5px;
	padding-right: 5px;
  }
}

mat-card-content {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  
  @media screen and (min-width: 960px) {
    height: 80%;
  }
}

.mat-card-title {
  display: block;
}