// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './custom-theme-palettes.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

// Global customization
.mat-override {
  .mat-card {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: none;
    border-radius: 0;
    box-sizing: border-box;
    padding: 20px;
  }

  .mat-card-content {
    font-size: 16px;
  }
}